.search-material {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 40px 10px;
}

.input-panel {
    display: flex;
    flex-direction: row;
}


.duration {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.duration-set {
    display: flex;
    gap: 10px;
}

.duration-data {
    display: flex;
    padding: 5px 0;
}

.place p {
    padding-bottom: 10px;
    text-align: center;
}

.duration p {
    padding-bottom: 10px;
    text-align: center;
}


.people p {
    padding-bottom: 10px;
    text-align: center;
}

.input-panel .input-search {
    width: 180px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #00000085;
}

.duration-data input {
    width: 145px;
    border: 1px solid #00000065;
    border-radius: 5px;
}

.people input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #00000085;
    width: 75px;
}

.search-button{
    padding-left: 10px;
}

.search-button button{
    background-color: #ff590d;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    padding: 8px 10px;
}

.search{
    display: none;
}

.search.active{
    display: block;
}