.about{
    animation: fadeIn 3s;
}

.about-name{
   margin: 20px 0px 0px 20px;
   font-size: 20px;
   color: #ff2600;
}

.about-content{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tagline{
    text-align: center;
    font-size: 26px;
    margin: 40px 0;
    color: #7c7c7c;
}

.about-details{
    text-align: center;
    width: 80%;
    font-weight: 300;
    font-size: 30px;
    color: #4b4b4b;
    text-align: center;
    margin-bottom: 60px;
}

.images{
    display: flex;
}

.images img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    
}
