.header {
    height: 50vw;
    margin-top: 30px;
    position: relative;
}

.header video{
    width: 100%;
    border-radius: 20px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 60%;
    bottom: 22%;
    left: 8vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: #ffffff;
    font-size: max(4.5vw, 22px);
}